/* productDetails.css */
.product-details {
    display: flex;
    justify-content: space-between;
    margin: 40px;
  }
  
  .product-details-image img {
    width: 400px;
    height: auto;
    border-radius: 10px;
  }
  
  .product-details-info {
    max-width: 400px;
  }
  
  .product-details-info h2 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  
  .product-details-info .price {
    font-size: 28px;
    color: #02735F;
    margin-bottom: 20px;
  }
  
  .product-details-info .description {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .product-details-info .seller, .ratings {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .product-details-info ul {
    list-style: none;
    padding: 0;
  }
  
  .back-button {
    background-color: #02735F;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
  }
  